@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav">
@{
    var user = HttpContextAccessor.HttpContext?.Session.GetString("User");
}

@if (!string.IsNullOrEmpty(user))
{


     <!-- 🔔 Apartado de Notificaciones -->
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Notification" asp-action="Index">
            🔔 Notificaciones
        </a>
    </li>
    <li class="nav-item">
        <span class="nav-link text-dark">👋 Hola, @user</span>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Auth" asp-action="Logout">Cerrar sesión</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Auth" asp-action="Register">Registrarse</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Auth" asp-action="Login">Iniciar sesión</a>
    </li>
}
</ul>
